.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  max-width: 450px; /* Ancho máximo para la lista */
  width: 100%; /* Ocupa todo el ancho disponible hasta el máximo */
  margin: 0 auto; /* Centra la lista */
}

.heroes li {
  position: relative;
  cursor: pointer;
  margin-bottom: 8px; /* Espacio entre elementos de la lista */
}

.heroes li:hover {
  transform: translateX(2px); /* Más moderno que usar left */
  transition: transform 0.2s;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  padding: 10px; /* Padding uniforme */
  border-radius: 4px;
  display: flex; /* Usamos flexbox para alinear el badge y el nombre */
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  color: white;
  background-color: #405061;
  width: 30px; /* Ancho fijo para todos los badges */
  height: 30px; /* Altura fija para todos los badges */
  text-align: center;
  margin-right: 10px;
  border-radius: 4px;
  /* Eliminamos position relative, left y top para un alineamiento más preciso con flexbox */
}

/* Añadimos un estilos para el nombre para alinearlo correctamente */
.hero-name {
  flex: 1; /* Ocupa el espacio restante */
}